html, body {
	background: #e7e7e7;
	font: 16px/20px Helvetica, Arial, sans-serif;
	margin: 0;
}

figure a,
figure img,
figure figcaption {
	display: block;
}

figure figcaption a {
	display: inline;
}

figure figcaption {
	font-size: 16px;
}

figure figcaption:first-child {
	margin: 0 0 4px 0;
}

figure figcaption:last-child {
	margin: 4px 0 0 0;
}

figure a:first-child:last-child,
figure img:first-child:last-child,
figure figcaption:first-child:last-child {
	margin: 2px 0;
}

figure a,
figure img,
figure figcaption h1,
figure figcaption h2,
figure figcaption h3,
figure figcaption h4,
figure figcaption p {
	margin: 0;
}

figure figcaption h1 {
	font-size: 34px;
	line-height: 40px;
	text-align: center;
}

figure figcaption h2 {
	font-size: 24px;
	line-height: 40px;
}

figure figcaption h3 {
	font-size: 18px;
	line-height: 20px;
}

figure figcaption h4, figure figcaption p {
	font-size: 14px;
	line-height: 20px;
}